
body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: rgb(20, 20, 20)
}

hr{
    width: 90%;
    display: block;
    border-style: outset;
    border-width: 2px;
    border-color: rgba(61, 59, 99, 0.8);
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(59, 47, 39, 0.8);
}

header{
    text-align: center;
}

h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 55px;
}

.about {
    text-align: center;
}

.about_img {
    border-radius: 100%;
}

.about h3 {
    color: whitesmoke;
    font-family: 'Open Sans';
    font-weight: 100;
}

.git-logo {
    width: 30px;
}


.about a {
    color: #ebebeb;
    background-color: #1b1b1b;
    border: 2px solid #ebebeb;
    border-radius: 7px;
    padding: 0.5rem 2rem;
}

.about a:hover {
    text-decoration: none;
    color: #1b1b1b;
    background-color: #ebebeb;
    
}

.about .row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.headers{
    padding-left: 10%;
    color: whitesmoke;
    font-size: 40px;
    font-weight: 650;
    text-align: left;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

.static {
    position: absolute;
}

.static:hover {
    opacity: 0;
}

.item-img {
    justify-content: center;
    margin: 30px;
}

.item-text {
    background-color: rgb(252, 219, 206);
    color: rgb(0, 0, 0);
    font-weight: 400;
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-style: dashed;
    border-color: #cab5ff;
    border-width: 5px;
}

.projects .row {
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 5rem;
    background-color: rgb(206, 216, 252);
    border-style: solid;
    border-color: #e3a48c;
    border-width: 5px;
}

section.contact {
    text-align: center;
}
form {
    display: inline-block;
    background-color: khaki;
    width: 50%;
    padding: 2rem;
    text-align: left;
}

#contact-me {
    text-align: center;
}

footer {
    color: whitesmoke;
    text-align: right;
    padding-right: 5%;
}
