
body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    /* background-color: rgb(20, 20, 20) */
    /* background-image: linear-gradient(rgb(255, 88, 88), rgb(45, 171, 255)); */
    background-image: linear-gradient(rgb(253, 179, 19), rgb(248, 148, 148),rgb(13, 13, 20),rgb(13, 13, 20));
}

hr{
    width: 90%;
    display: block;
    border-style: outset;
    border-width: 2px;
    border-color: rgba(61, 59, 99, 0.8);
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(59, 47, 39, 0.8);
}

header{
    text-align: center;
}

h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 55px;
}

.jumbotron {
    background-color: whitesmoke;
}

.about {
    text-align: center;
}

.about_img {
    border-radius: 100%;
}

.about h3 {
    color: whitesmoke;
    font-family: 'Open Sans';
    font-weight: 100;
}

.git-logo {
    width: 30px;
}

.email-text {
    font-weight: 400;
    background-color: rgb(255, 191, 172);
    padding: 0.7rem 2rem;
    border: 3px solid black;
    border-radius: 2px;
    color: black;
}

.email-button {
    margin-left: 2rem;
    background-color: inherit;
}

.clip_img {
    width: 27px;
}

.about a {
    color: #ebebeb;
    background-color: #1b1b1b;
    border: 2px solid #ebebeb;
    border-radius: 7px;
    padding: 0.5rem 2rem;
}

.about a:hover {
    text-decoration: none;
    color: #1b1b1b;
    background-color: #ebebeb;
    
}

.about .row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.headers{
    padding-left: 10%;
    color: rgb(255, 246, 232);
    font-size: 40px;
    font-weight: 650;
    text-align: left;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 0 rgb(75, 75, 75);
}

.img-fluid {
    width: 100%;
    height: 100%;
}

.static {
    position: absolute;
}

.static:hover {
    opacity: 0;
}

.item-img {
    justify-content: center;
    margin: 30px;
}

.item-text {
    background-color: rgb(252, 219, 206);
    color: rgb(0, 0, 0);
    font-weight: 400;
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-style: dashed;
    border-color: #cab5ff;
    border-width: 5px;
}

.projects .row {
    margin-top: 1px;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 5rem;
    background-color: rgb(206, 216, 252);
    border-style: solid;
    border-color: #e3a48c;
    border-width: 5px;
    box-shadow: 25px 15px rgba(0, 0, 0, 0.267);
}

section.contact {
    text-align: center;
    background-image: url("imgs/code_back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.form-group {
    margin-bottom: 2rem;
}


#contact-me, #send{
    text-align: center;
    text-align: center;
}

label {
    margin-left: 20px;
    font-weight: 500;
}

form {
    display: inline-block;
    background-color: #d9fffd;
    min-width: 30%;
    max-width: 80%;
    padding: 2rem;
    text-align: left;
    border: 5px solid #89d1cd;
    border-radius: 10px;
}

.alert {
    display: none;
    background-color: rgb(255, 156, 138);
    color: black;
    border: 2px solid rgb(250, 89, 89);
}

footer {
    color: whitesmoke;
    text-align: right;
    padding-right: 5%;
}
