
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #3d5a80;
    /* background-image: linear-gradient(rgb(70, 70, 70),rgb(105, 73, 73), rgb(73, 32, 32), rgb(13, 13, 20),rgb(13, 13, 20)); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    width: 85%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#mockup {
/* to delete later */
    visibility: hidden; 
/* to delete later */


    position: absolute;
    min-height: 100vh;
    z-index: 2;

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.sidebar {
    flex: 1;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 4%; /* (was60px) Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(172, 87, 108);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex;
    flex-direction: column;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    justify-content: center;
    align-items: center;
    align-content: center;

    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    /* align-content: flex-start; */

}

.sidebar:hover {
     width: 12%; /*was 200px */
}

.sidebar:hover a p {
    opacity: 1;
    /* display: initial; */
    width: 105px;
    /* display: flex; */
    /* flex: 1; */
}

.sidebar > div {
    flex: 9;
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sidebar div p {
    transform: rotate(90deg);
    white-space: nowrap;
    flex: 1;
    height: fit-content;
    width: fit-content;
    font-size: 35px;
    color: #222222;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    white-space: nowrap;
    color: #3f3f3f;
    display: flex;
    flex: 1;
    /* height: fit-content;
    width: fit-content; */
    width:fit-content;
    border: solid yellow 2px;

    /* justify-content: center;
    align-items: center;
    align-content: center; */

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;


}

.sidebar a img {
    border: solid purple 2px;
    width: 50px;
    height: 50px;
    display: flex;

    
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 1;

}

.sidebar a p {
    /* display: none; */
    width: 0px;
    /* flex: 0; */

    border: solid orange 2px;
    /* display: inline-block; */

    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

hr{
    width: 90%;
    display: block;
    border-style: outset;
    border-width: 2px;
    border-color: rgba(73, 32, 32, 0.8);
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(105, 73, 73, 0.8);
}

header{
    text-align: center;
}

.jumbotron{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    background-color: #ee6c4d;
    color: #e0fbfc;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    
}

.jumbotron p {
    /* background-color: magenta; */
    margin: 0px;
}

.jumbotron p:last-of-type  {
    justify-content: flex-end;
    /* background-color: lavender; */

}

.about {
    text-align: center;
    /* height: 300px; */
    background-color: pink;
    margin-top: 20px;
}

#jobTitle {
    background-color: red;
    margin: 0px 0px 20px 0px;
}

.about_img {
    border-radius: 100%;
    /* max-width: 75%;
    max-height: 75%; */

    /* max-width: 100%;
    height: auto;
    display: flex; */
    
}

.about h3 {
    color: whitesmoke;
    font-weight: 200;
    background-color: blue;
    font-size: 100%;
    line-height: 1.5;
    /* width: 100%; */
    margin-left: 0px;
    
}

.git-logo {
    width: 30px;
}

.email-text {
    font-weight: 400;
    padding: 0.7rem 0.5rem;
    border-radius: 2px;
    color: rgb(245, 245, 245);
}

.email-button {
    margin-left: 1rem;
    background-color: inherit;
}

.clip_img {
    width: 27px;
}

.about a {
    color: #ebebeb;
    background-color: #1b1b1b;
    border: 2px solid #ebebeb;
    border-radius: 7px;
    padding: 0.5rem 2rem;
}

.about a:hover {
    text-decoration: none;
    color: #1b1b1b;
    background-color: #ebebeb;
    
}

.headers{
    padding-left: 10%;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    /* font-style: italic; */
    font-weight: 100;

    font-size: 50px;
    text-align: left;
}

.item-text h2 {
    font-style: italic;
    font-weight:300;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

.portrait {
    width: 50%;
}

.static {
    position: absolute;
    display: none;
}

.static:hover {
    opacity: 0;
}

.item-img {
    justify-content: center;
    margin: 30px;
}

.item-text {
    background-color: rgb(235, 233, 233);
    color: rgb(0, 0, 0);
    font-weight: 400;
    height: fit-content;
   
}

.projects .row {
    margin-top: 1px;
    margin-bottom: 5rem;
    background-color: rgb(206, 194, 189);
    border-style: solid;
    border-color: #582c1b;
    border-width: 5px;

}

section.contact {
    text-align: center;
    background-image: url("imgs/code_back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.form-group {
    margin-bottom: 2rem;
}


#contact-me, #send{
    text-align: center;
    text-align: center;
}

label {
    margin-left: 20px;
    font-weight: 500;
}

form {
    display: inline-block;
    background-color: #d9fffd;
    min-width: 30%;
    max-width: 80%;
    padding: 2rem;
    text-align: left;
    border: 5px solid #89d1cd;
    border-radius: 10px;
}

.alert {
    display: none;
    background-color: rgb(255, 156, 138);
    color: black;
    border: 2px solid rgb(250, 89, 89);
}

footer {
    color: whitesmoke;
    text-align: right;
    padding-right: 5%;
}


/* X-Small devices (everything under 576px) */
@media (max-width: 576px) {
    .jumbotron {
        font-size: 80%;
        background-color: red;
    }
    #jobTitle {
        font-size: 50%;
    }
    .about h3 {
        font-size: 40%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .jumbotron {
        font-size: 100%;
        background-color: purple;
    }
    #jobTitle {
        font-size: 62%;
    }
    .about h3 {
        font-size: 55%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .jumbotron {
        background-color: lime;
        font-size: 180%;
    }
    #jobTitle {
        font-size: 85%;
    }
    .about h3 {
        font-size: 75%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .jumbotron {
        background-color: gray;
        font-size: 250%;
    }
    #jobTitle {
        font-size: 100%;
    }
    .about h3 {
        font-size: 90%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .jumbotron {
        background-color: teal;
        font-size: 330%;
    }
    #jobTitle {
        font-size: 120%;
    }
    .about h3 {
        font-size: 100%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .jumbotron {
        background-color: cyan;
        font-size: 400%;
    }
    #jobTitle {
        font-size: 140%;
    }
}